<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymotionlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".scenes.Scene10Activity"></activity>
        <activity android:name=".scenes.Scene9Activity" />
        <activity android:name=".scenes.Scene8Activity" />
        <activity android:name=".scenes.Scene7Activity" />
        <activity android:name=".scenes.Scene6Activity" />
        <activity android:name=".scenes.Scene5Activity" />
        <activity android:name=".scenes.Scene4Activity" />
        <activity android:name=".scenes.Scene3Activity" />
        <activity android:name=".scenes.Scene2Activity" />
        <activity android:name=".scenes.Scene1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>